.btn {
    &:link,
    &:visited {
        display: inline-block;
        padding: 1.5rem 4rem;
        position: relative;
        text-decoration: none;
        font-size: 1.6rem;
        text-transform: uppercase;
        border-radius: 10rem;
        transition: 0.2s;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        transform: translateY(-3px);

        &::after {
            opacity: 0;
            transform: scaleX(1.4) scaleY(1.6);
        }
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
        transform: translateY(-1px);
    }

    &::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10rem;
        z-index: -1;
        transition: all 0.4s;
    }

    &--white {
        color: $color-grey-dark;
        background-color: $color-white;

        &::after {
            background-color: $color-white;
        }
    }

    &--animated {
        animation: animationBtn 0.4s 0.75s ease-out;
        animation-fill-mode: backwards;
    }
}

.btn-text:link,
.btn-text:visited {
    display: inline-block;
    font-size: $default-font-size;
    color: $color-primary;
    padding: 3px;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    transition: 0.3s;

    &:hover {
        color: $color-white;
        background-color: $color-primary;
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
}
